{% extends "blog/base.html" %}

{% block content %}

<div class="container">

  <div class="row blog-post">

    <!-- Articles Entries Column -->
    <div class="col-md-8 p-5 d-flex flex-column justify-content-start align-content-center kk">

      <h1 class="my-4 mr-5">Register</h1>

      <form method = "POST">
        
          {% csrf_token %}
          <p>{{ form.username.label_tag }}</p>
          <p>{{ form.username }}</p>
         <br>

          <p>{{ form.email.label_tag }}</p>
          <p>{{ form.email }}</p>
          <br>

          <p>{{ form.password1.label_tag }}</p>
          <p>{{ form.password1 }}</p>
            
          <br>

          <p>{{ form.password2.label_tag }}</p>
          <p>{{ form.password2 }}</p>
          <br>

          <button type = "submit" class = "btn btn-primary submit" >Submit</button>
      </form>

      
      
      </div>
    </div>
</div>
{% endblock %}